@charset "utf-8";

/**************
 * common
 **************/

body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 90%;
  line-height: 1.5;
  margin: 24px 10px;
}

#container {
  margin: auto;
  width: 960px;
}

header h1 {
  float: left;
  width: 880px;
}

header h1 a {
  color: #CD5C5C;
  text-decoration: none;
}

article {
  clear: both;
  text-align: center;
}

footer {
  margin-top: 15em;
  text-align: center;
}

li {
  list-style-type: none;
}



/**************
 * quiz
 **************/

div#quizapp {
  clear: both;
  text-align: center;
}

div#quizapp h2 {
  border-bottom: solid 1px gray;
  font-size: 32px;
}

div#quiz section.question {
  float: left;
  margin: 0px 40px;
  width: 400px;
}

div#quiz section.question h3 {
  font-size: 20px;
}

div#quiz section.question.left  {
  text-align: right;
}

div#quiz section.question.right  {
  text-align: left;
}

div#quiz ul#match_list,
div#quiz ul#not_match_list {
  padding: 0;
}

div#quiz ul#match_list li.ok {
  color: gray;
}

div#quiz ul#match_list li.ng {
  color: black;
}

section#timer {
  clear: both;
  padding-top: 2em;
}

section#answer {
  clear: both;
}

section#answer div#answer_box {
  font-size: 4em;
}

section#answer div#answer_box div.regex {
  float: left;
  width: 100px;
}

section#answer div#answer_box div#answer_in_box  {
  border: solid 1px #599A36;
  float: left;
  margin-bottom: 1em;
  text-align: left;
  width: 758px;
}

section#answer div#answer_box div#answer_in_box span.selected_answer_item {
  background-color: #B3FFB3;
  cursor: pointer;
  font-size: 60%;
  margin-right: 0.3em;
  padding: 0.25em 0.5em;
  vertical-align: middle;
}

section#answer p#choice_items {
  clear: both;
}

section#answer p#choice_items span.answer_item  {
  background-color: #B3FFB3;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 2em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  padding: 0.2em;
  width: 2.5em;
}

section#answer p#submit {
  clear: both;
}



/**************
 * result_input
 **************/

span#result_time {
  color: red;
  font-style: bold;
  font-size: 120%;
}



/**************
 * result
 **************/

ol#result_list {
  margin-left: 220px;
  text-align: left;
}

ol#result_list li.result_item {
  margin-bottom: 2em;
  margin-left: 80px;
}

#your_result {
  background-color: #FFCC66;
  font-size: 120%;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 0px;
  padding: 5px;
}

