@charset "utf-8";

/**************
 * common
 **************/

body {
  font-family: Verdana, Arial, sans-serif;
  line-height: 1.5;
  margin: auto 10px;
}

#container {
  margin: auto;
  width: 960px;
}

#header h1 {
  font-size: 32px;
  float: left;
  width: 880px;
}

#header h1 a {
  color: #CD5C5C;
  text-decoration: none;
}

#content {
  clear: both;
  text-align: center;
}

#footer {
  border-top: 1px solid;
  margin-top: 30px;
  text-align: right;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}



/**************
 * quiz
 **************/

div#quizapp {
  clear: both;
  text-align: center;
}

div#quizapp h2 {
  border-bottom: solid 1px gray;
  font-size: 32px;
}

div#quiz div.question {
  float: left;
  width: 480px;
}

div#quiz div.question.left  {
  text-align: right;
}

div#quiz div.question.right  {
  text-align: left;
}

div#quiz div.question h3 {
  margin: 0px 40px;
  font-size: 20px;
}

div#quiz ul#match_list,
div#quiz ul#not_match_list {
  margin: 0px 40px;
  padding: 0;
}

div#quiz ul#match_list li.ok {
  color: gray;
}

div#quiz ul#match_list li.ng {
  color: black;
}

div#timer {
  clear: both;
  padding-top: 2em;
}

div#answer {
  clear: both;
}

div#answer div#answer_box {
  font-size: 46px;
}

div#answer div#answer_box div.regex {
  float: left;
  width: 100px;
}

div#answer div#answer_box div#answer_in_box  {
  float: left;
  margin-bottom: 1em;
  text-align: left;
  width: 758px;
}

div#answer div#answer_box div#answer_in_box div#inner {
  border: solid 1px #599A36;
}

div#answer div#answer_box div#answer_in_box span.selected_answer_item {
  background-color: #B3FFB3;
  border-radius: 5px;
  cursor: pointer;
  font-size: 32px;
  margin-right: 0.3em;
  padding: 0.25em 0.5em;
  vertical-align: middle;
}

div#answer p#choice_items {
  clear: both;
}

div#answer p#choice_items span.answer_item  {
  background-color: #B3FFB3;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 24px;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  padding: 0.2em;
  width: 2.5em;
}

div#answer p#submit {
  clear: both;
}



/**************
 * result_input
 **************/

span#result_time {
  color: red;
  font-style: bold;
  font-size: 20px;
}



/**************
 * result
 **************/

ol#result_list {
  margin-left: 220px;
  text-align: left;
}

ol#result_list li.result_item {
  margin-bottom: 2em;
  margin-left: 80px;
}

#your_result {
  background-color: #FFCC66;
  font-size: 20px;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 0px;
  padding: 5px;
}

