<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Regex GAME</title>
<link rel="stylesheet" type="text/css" href="/stylesheet/import.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>
<header>
  <h1><a href="/">Regex GAME</a></h1>
</header>
<div id="container">
  <h2>Welcome to Regex GAME!!</h2>
  <ul>
    <% @courses.each do |hash| %>
      <li><a href="/c/<%= hash['id'] %>"><%= hash['name'] %></a></li>
    <% end %>
  </ul>
</div>
<footer>copyright(c) All rights reserved Tsukurukai.</footer>
</body>
</html>
