<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Regex GAME</title>
<link rel="stylesheet" type="text/css" href="/stylesheet/import.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>
<header>
  <h1>Regex GAME</h1>
</header>
<div id="container">
  <h2>Welcome Regex GAME!</h2>
  <a href="/c/1/q/1">START</a>
</div>
<footer></footer>
</body>
</html>
