<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Regex GAME</title>
  <meta name="viewport" content"width=device-width" >
  <link rel="stylesheet" href="/stylesheet/normalize.css">
  <link rel="stylesheet" href="/stylesheet/base.css">
  <link rel="stylesheet" href="/stylesheet/base-m.css" media="only screen and (min-width:600px) and (max-width:979px)">
  <script src="/js/jquery-1.10.1.js"></script>
</head>
<body>
<div id="container">
<%= erb :_header %>
<div id="content">
<%= yield %>
</div>
<%= erb :_footer %>
</div>
</body>
</html>
