<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Regex GAME</title>
<link rel="stylesheet" type="text/css" href="/stylesheet/import.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>
<%= erb :_header %>
<div id="container">
<%= yield %>
</div>
<%= erb :_footer %>
</body>
</html>
