<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Regex GAME</title>
<link rel="stylesheet" type="text/css" href="/stylesheet/import.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="/js/regexgame.js"></script>
</head>
<body>
<header>
  <h1><a href="/">Regex GAME</a></h1>
  <p><a href="/">quit</a></p>
</header>
<div id="container">
  <article>
    <h1 id="qnumber">Q1</h1>
    <section class="question left">
      <h2>Match Words</h2>
      <ul id="match_list">
      </ul>
    </section>
    <section class="question right">
      <h2>Don't Match Words</h2>
      <ul id="not_match_list">
      </ul>
    </section>
    <section id="timer">00:00:00:000</section>
    <section class="answer">
      <form id="answer_form" action="/c/<%= @course_id %>/result/complete">
        <p><span class="regex">/^</span><input type="text" id="reg_input" name="answer"/><span class="regex">$/</span></p>
        <p><input type="button" value="OK" id="reg_submit" /></p>
      </form>
    </section>
  </article>
</div>
<footer>copyright(c) All rights reserved Tsukurukai.</footer>
</body>
</html>
