<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Regex GAME</title>
<link rel="stylesheet" type="text/css" href="/stylesheet/import.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="/js/regexgame.js"></script>
</head>
<body>
<header>
  <h1>Regex GAME</h1>
  <p><a href="">quit</a></p>
</header>
<div id="container">
  <article>
    <h1>Q<%= @quiz_id %></h1>
    <section class="question left">
      <h2>Match Words</h2>
      <ul id="match_list">
        <li>Banana</li>
        <li>Apple</li>
        <li>Book</li>
        <li>cycle</li>
        <li>Display</li>
        <li>CD</li>
        <li>keybord</li>
        <li>phone</li>
      </ul>
    </section>
    <section class="question right">
      <h2>Don't Match Words</h2>
      <ul id="not_match_list">
        <li>database schema</li>
        <li>non-union</li>
        <li>HTML5</li>
        <li>Mr.Tanaka</li>
      </ul>
    </section>
    <section id="timer">00:00:00:000</section>
    <section class="answer">
      <form id="answer_form" >
        <p><input type="text" id="reg_input" /></p>
        <p><input type="button" value="OK" id="reg_submit" /></p>
      </form>
    </section>
  </article>
</div>
<footer></footer>
</body>
</html>
