<div id="quizapp">
  <h2 id="qnumber">Q1</h2>
  <div id="quiz">
    <div class="question left">
      <h3>Match Words</h3>
      <ul id="match_list">
      </ul>
    </div>
    <div class="question right">
      <h3>Don't Match Words</h3>
      <ul id="not_match_list">
      </ul>
    </div>
  </div>
  <div id="stopwatch"></div>
  <div id="answer">
    <form id="answer_form" action="/c/<%= @course_id %>/result/complete">
      <div id="answer_box">
        <div class="regex">/^</div>
        <div id="answer_in_box">
          <div id="inner">&nbsp;</div>
        </div>
        <div class="regex">$/</div>
      </div>
      <p id="choice_items"></p>
      <p id="submit"><input type="button" value="OK" id="reg_submit" /></p>
    </form>
  </div>
</div>
<script src="/js/lib/underscore.js"></script>
<script src="/js/lib/backbone.js"></script>
<script src="/js/stopwatch.js"></script>

<script data-main="/js/regexgame.js" src="/js/lib/require.js"></script>
