<h2>Course&nbsp;<%= @course_id %>&nbsp;RANKING</h2>
<form>
  <ol id="result_list">
  <% @ranking_list.each do |result| %>
    <li class="result_item"><span><%= result[:name] %></span>&nbsp;:&nbsp;<span><%= result[:time] %> s </span></li>
  <% end %>
</ol>
</form>
<p><a href="/">return&nbsp;to&nbsp;TOP&nbsp;page</a></p>
