<h2>Congratulations!</h2>
<p>your record is <span id='result_time'><%= @time_for_view %></span>[s].</p>
<form action="/c/<%= @course_id %>/result/put" method="POST">
  <input type="hidden" name="time" value="<%= @time %>" />
  <label for="name">input&nbsp;your&nbsp;name&nbsp;:&nbsp;</label><input id="name" type="text" name="name" size="40" />&nbsp;<input type="submit" value="OK" />
</form>
