<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel='stylesheet' href='/stylesheets/common.css' />
        <title>Hello Kinoko</title>
    </head>
    <body>
        <h1>ログイン後TOP画面</h1>
    </body>
</html>
