<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Regex GAME Admin</title>

<script src="/js/lib/jquery-1.10.1.js"></script>
<script src="/js/lib/jquery.json-2.4.min.js"></script>
<style type="text/css">
<!--
body{
    margin:0 0 0 0;
    padding:0 0 0 0;
    font-size:larger;
}

div.header{
   padding:5px 0px 5px 10px;
   background-color:#003366;
   color:#FFFFFF;
   margin-bottom:15px;
}

div.container{
   padding:0px 0px 0px 10px;
}

div.footer{
   margin-top:15px;
   padding:2px 0px 2px 0px;
   text-align:center;
   background-color:#cccccc;
   font-size:smaller;
}


table.list{
    border-top:1px solid #663300;
    border-left:1px solid #663300;
    border-collapse:collapse;
    border-spacing:0;
    background-color:#ffffff;
    empty-cells:show;
}
.list th{
    border-right:1px solid #663300;
    border-bottom:1px solid #663300;
    color:#330000;
    background-color:#CCCC99;
    background-position:left top;
    padding:0.3em 1em;
    text-align:center;
}
.list td{
    border-right:1px solid #663300;
    border-bottom:1px solid #663300;
    padding:0.3em 1em;
}

div.editable{
    border:1px solid gray;
    overflow: auto;
    padding: 2px;
    resize: both;
}

-->
</style>

</head>
<body>

<div class='header'>
Regex Game Admin
</div>

<div class="container">
<%= yield %>
</div>

<div class='footer'>
copyright(c) All rights reserved Tsukurukai.
</div>
</body>
</html>
