

<table class='list'>
  <% header = @results.first%>
    <tr>
    <% header.instance_variables.each do |var| %>
        <th><%= var.to_s.sub('@', '') %></th>
    <% end %>
    </tr>
  <% @results.each do |obj| %>
    <tr>
    <% obj.instance_variables.each do |var| %>
        <td>
        <% if var.to_s == '@id' %>
          <a href='/admin/course/detail/<%= obj.instance_variable_get(var) %>'>
        <% end %>
        <% if var.to_s == '@quizes' %>
        <%= obj.instance_variable_get(var).length %>
        <% else %>
        <%= obj.instance_variable_get(var) %>
        <% end %>
        <% if var.to_s == '@id' %></a><% end %>
        </td>
    <% end %>
    </tr>
  <% end %>
</table>


