<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Regex GAME</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" >
  <link rel="stylesheet" href="/stylesheet/normalize.css">
  <link rel="stylesheet" href="/stylesheet/style-l.css">
  <link rel="stylesheet" href="/stylesheet/style-m.css" media="only screen and (min-width:600px) and (max-width:979px)">
  <link rel="stylesheet" href="/stylesheet/style-s.css" media="only screen and (max-width:599px)">
  <script src="/js/lib/jquery-1.10.1.js"></script>
  <script src="/js/lib/underscore-min.js"></script>
  <script src="/js/lib/backbone-min.js"></script>
</head>
<body>
<div id="container">
<%= erb :_header %>
<div id="content">
<%= yield %>
</div>
<%= erb :_footer %>
</div>
</body>
</html>
