<div id="quizapp">
  <h2 id="qnumber">Q1</h2>
  <div id="quiz">
  </div>
  <div id="stopwatch"></div>
  <div id="answer">
    <form id="answer_form" action="/c/<%= @course_id %>/result/complete">
      <div id="answer_box">
        <div class="regex">/^</div>
        <input id="answer_in_box" type="text" />
        <div class="regex">$/</div>
      </div>
      <p id="choice_items"></p>
      <p id="submit"><input type="button" value="OK" id="reg_submit" /></p>
    </form>
  </div>
  <input type="hidden" id="firstQuizId" value="<%= @quiz.id.to_s %>" />
</div>

<script src="/js/lib/stopwatch.js"></script>
<script src="/js/main.js"></script>
<script>
  Regexgame.init();
</script>
